section {
	width: 500px;
	height: 500px;
	background-color: magenta;
}

/* Transparency only applies to the background color */
#rgba {
	width: 50%;
	height: 50%;
	/* background-color: rgba(255, 255, 255, 0.7); */
	background-color: #00cca0b9; /* The last two characters of the hex control the transparency from 00 to FF */
}

/* Opacity that applies to the entire element (goes from 0 to 1) */
#opacity {
	width: 50%;
	height: 50%;
	background-color: yellow;
	opacity: 0.3;
}
