<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>

<body>
    <h1>
        Your random number is: <%=random%>
    </h1>
    <!--This is an example of embedding conditional JS logic but NOT rendering it on the page becuase it's missing the = sign-->
    <% if(random % 2===0){%>
        <h2>That is an even number!</h2>
        <%} else{%>
            <h2>That is an odd number!</h2>
            <%} %>

                <!--Another way to do this, but we use embedding and it's inline with the HTML element-->
                <h3>
                    <%= random % 2===0 ? 'This is an even number!' : 'This is an odd number!' %>
                </h3>
</body>

</html>